<div class="search">
  <div class="str">
    <div class="icon"><img src="./assets/search.png" /></div>
    <div class="inp"><input type="text" [(ngModel)]="searchStr" (keyup)="search()"/></div>
  </div>
  <div class="action"><button>CANCEL</button></div>
</div>
<div *ngFor="let device of list" class="list" (click)="goTo(device.id)">
  <div class="icon">
    <img src="{{ device.img }}" />
  </div>
  <div class="details">
    <div class="name">{{ device.name }}</div>
    <div class="status">Status : {{ device.status }}</div>
  </div>
  <div class="info"><span>i</span></div>
</div>
